body {
    font-family: arial;
    font-size: 14pt;
    margin-left: 21%;
    margin-right: 21%;
    text-align: justify;
}

/* https://github.com/wkhtmltopdf/wkhtmltopdf/issues/3088 */
html {
    height: 0;
}

h1.title {
    font-size: 150%;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0;
}

h2 {
    border-bottom: 1px solid #000000;
    text-transform: uppercase;
    font-size: 130%;
    padding: 0;
}

h3 {
    font-size: 100%;
    display: flex;
    justify-content: space-between;
}

h3 span:nth-child(n+2) {
    font-weight: normal;
    float: right;
    white-space: nowrap;
}

h4 {
    font-style: italic;
    font-weight: normal;
    line-height: 0;
}

a, a:link, a:visited, a:hover {
    color: #800020;
    text-decoration: underline;
}

.references {
    font-size: 90%;
}

#publications {
    page-break-before: always;
}
